asitop==0.0.23
blessed==1.20.0
certifi==2023.7.22
charset-normalizer==2.1.1
contourpy==1.0.6
cycler==0.11.0
dashing==0.1.0
dnspython==2.2.1
docopt==0.6.2
fonttools==4.38.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.6.2
mtools==1.7.2
numpy==1.24.1
packaging==22.0
Pillow==10.0.1
protobuf==4.24.3
psutil==5.9.4
pymongo==4.3.3
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML @ file:///private/tmp/pyyaml-20230717-6270-1iiwi1j/PyYAML-6.0.1
requests==2.31.0
six==1.16.0
urllib3==2.0.6
wcwidth==0.2.6
